<extend name="Common/index"/>

<block name="content">
<div class="container">
	<link href="__PUBLIC__/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css">
	<div class="col-xs-12 col-sm-12">
		<div class="row cl">
			<div>&nbsp;</div>
			<div class="formControls col-xs-1 col-sm-1 col-md-1"></div>
			<div class="formControls col-xs-10 col-sm-10 col-md-10">
				<if condition="($fangyuan['zhuangtai'] neq 3) and ($fangyuan['zhuangtai'] neq 4)">
				<div style="width: 72px;float: left;">
					<a  href="javascript:;" onclick="motai('修改资料','{:U('Fyneirong/xiugai',array('fyid'=>$fangyuan['id'],'fybh'=>$fangyuan['bianhao'],'uid'=>session('uid')))}','950')" style="text-decoration:none">
						<i class="Hui-iconfont" style="font-size:50px; line-height:10px;">
							&#xe6df;
						</i>
						<strong><p style="color:black;">修改信息</p></strong>
					</a>
				</div>
				<!--<div style="width: 72px;float: left;">
					<a  href="javascript:;" onclick="motai('写跟进','{:U('Fyneirong/genjin',array('fyid'=>$fangyuan['id'],'fybh'=>$fangyuan['bianhao'],'uid'=>session('uid')))}','600','400')" style="text-decoration:none">
						<i class="Hui-iconfont" style="font-size:50px;line-height:10px;">
							&#xe70c;
						</i>
						<strong><p style="color:black;">&nbsp;写跟进</p></strong>
					</a>
				</div>-->
			</if>
				<div style="width: 72px;float: left;">
					<a href="javascript:location.replace(location.href);" style="text-decoration:none">
						<i class="Hui-iconfont" style="font-size:50px;line-height:10px;">
							&#xe68f;
						</i>
						<strong><p style="color:black;">&nbsp;&nbsp;刷新</p></strong>
					</a>
				</div>
				<if condition="$_SESSION['superadmin'] eq 1 or session('uid') eq 2">
					<div style="width: 72px;float: left;">
						<a href="javascript:;" onclick="delEsfy(this,'{$fangyuan['id']}')" style="text-decoration:none">
							<i class="Hui-iconfont" style="font-size:50px;line-height:10px;">
								&#xe6a6;
							</i>
							<strong><p style="color:black;">&nbsp;&nbsp;删除</p></strong>
						</a>
					</div>
				</if>

			</div>
		</div>
		<div id="tab_demo" class="HuiTab">
			<div class="row cl">
				<div class="formControls col-xs-1 col-sm-1 col-md-1"></div>
				<div id="tab_demo" class="formControls col-xs-10 col-sm-10 col-md-10">
					<div class="tabBar clearfix">
						<span style="font-size:15px">基本信息</span>
						<span id="fy_img" style="font-size:15px;">房源照片</span>
						<!--<span class="hidden" style="font-size:15px">相关照片</span>
						<span class="hidden" style="font-size:15px">房屋视频</span>
						<span class="hidden" style="font-size:15px">匹配客户</span>
						<span style="font-size:15px;">房源跟进</span>
						<span class="hidden" style="font-size:15px">带看记录</span>
						<span style="font-size:15px">日志</span>
						<span class="hidden" style="font-size:15px">房源描述</span>
						<span class="hidden" style="font-size:15px">改价历史</span>
						<span style="font-size:15px">调取记录</span>-->
						<span style="font-size:15px">地图位置</span>
					</div>
				</div>
			</div>
			<div class="tabCon">
				<div>&nbsp;</div>
				<div class="row cl">
					<div class="formControls col-xs-1 col-sm-1 col-md-1"></div>
					<div id="tab_demo" class="formControls col-xs-10 col-sm-10 col-md-10">
						<div style="float: left;width:69.5%;">
							<table border="1">
								<tr">
									<th style="color: black">
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="font-size:36px;" align="center" class="formControls col-xs-12 col-sm-12 col-md-12">
												<strong>
													[{$fangyuan['bianhao']}]{$fangyuan['xiaoqum']}
												</strong>
											</div>
											<div align="center" class="formControls col-xs-12 col-sm-12 col-md-12">
												<foreach name="leixing" item="v">
													<if condition='$fangyuan["leixing"] eq $v["lxid"]'>
														<span class="label label-danger">
															{$v.lxming}
														</span>
													</if>
												</foreach>
												<foreach name="yongtu" item="v">
													<if condition='$fangyuan["yongtu"] eq $v["lxid"]'>
														<span class="label label-primary">
															{$v.lxming}
														</span>
													</if>
												</foreach>
												<foreach name="zhuangtai" item="v">
													<if condition='$fangyuan["zhuangtai"] eq $v["lxid"]'>
														<span class="label label-danger">
															{$v.lxming}
														</span>
													</if>
												</foreach>
											</div>
											<div class="formControls col-xs-12 col-sm-12 col-md-12">
												<div style="margin:0;padding:0;" class="formControls col-xs-11 col-sm-11 col-md-11">
													<if condition='$fangyuan["shoujia"] gt 0'>
														<strong style="font-size:36px;color: red;">
															{$fangyuan["shoujia"]}
														</strong>
														<sub style="font-size: 18px;color: red;">
															万&nbsp;&nbsp;
														</sub>
													</if>
													<if condition="$fangyuan['danjia']">
														<sub style="font-size: 18px;color: #424242">
															{$fangyuan['danjia']}元/平米
														</sub>
													</if>
													<foreach name="zujialx" item="v">
														<if condition='$fangyuan["zujia"] and $fangyuan["zujialx"] eq $v["lxid"]'>
															<sub style="font-size: 18px;color: #424242">
																{$fangyuan["zujia"]}{$v.lxming}
															</sub>
														</if>
													</foreach>
												</div>
											</div>
											<div class="formControls col-xs-12 col-sm-12 col-md-12">
												<div style="margin:0;padding:0;font-size:21px;font-weight:bold" class="formControls col-xs-12 col-sm-12 col-md-12">
													<if condition='$fangyuan["shi"]'>
														{$fangyuan["shi"]}室
													</if>
													<if condition='$fangyuan["ting"]'>
														{$fangyuan["ting"]}厅
													</if>
													<if condition='$fangyuan["wei"]'>
														{$fangyuan["wei"]}卫
													</if>
													<if condition='$fangyuan["chu"]'>
														{$fangyuan["chu"]}厨
													</if>
													<if condition='$fangyuan["yangtai"]'>
														{$fangyuan["yangtai"]}阳台
													</if>
													<if condition='$fangyuan["mianji"]'>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														{$fangyuan["mianji"]}平米
													</if>
												</div>
											</div>
											<div class="formControls col-xs-12 col-sm-12 col-md-12">
												<div style="margin:0;padding:0;font-size:21px;" class="formControls col-xs-12 col-sm-12 col-md-12">
													<if condition="$fangyuan['chushoudj'] gt 0">
														<span style="color: #757575">出售底价：</span>
														<span style="color: red;font-weight:bold">
															{$fangyuan['chushoudj']}
														</span>
														<sub style="color: red;">
															万&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														</sub>
													</if>
													<if condition="$fangyuan['chuzudj']">
														<span style="color: #757575">出租底价：</span>
														<span style="color: red;font-weight:bold">
															{$fangyuan['chuzudj']}
														</span>
														<sub style="color: red;">
															元
														</sub>
													</if>
												</div>
											</div>
											<div class="formControls col-xs-12 col-sm-12 col-md-12">
												<div style="margin:0;padding:0;font-size:18px;;color: #424242" class="formControls col-xs-12 col-sm-12 col-md-12">
													录入时间：{$fangyuan["lurusj"]|date='Y-m-d H:i',###}
												</div>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
									</th>
								</tr>
								<tr>
									<th style="color:black;font-size:15px">
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													楼层：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
												{$fangyuan["louceng"]}/{$fangyuan["zlouceng"]}
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													朝向：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
												<if condition='$fangyuan["chaoxiang"]'>
													<foreach name="chaoxiang" item="v">
														<if condition='$fangyuan["chaoxiang"] eq $v["lxid"]'>
															{$v.lxming}
														</if>
													</foreach>
												<else/>不详</if>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													梯户：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["ti"]'>
												{$fangyuan["ti"]}梯{$fangyuan["hu"]}户
												<else/>不详</if>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													装修：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["zhuangxiu"]'>
												<foreach name="zhuangxiu" item="v">
													<if condition='$fangyuan["zhuangxiu"] eq $v["lxid"]'>
														{$v.lxming}
													</if>
												</foreach>
												<else/>不详</if>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													配套：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$peitao'>
												<foreach name="peitao" item="v">
													{$v.lxming};
												</foreach>
											<else/>不详</if>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													房屋类型：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["fwleixing"]'>
												<foreach name="fwleixing" item="v">
													<if condition='$fangyuan["fwleixing"] eq $v["lxid"]'>
														{$v.lxming}
													</if>
												</foreach>
											<else/>不详</if>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													建筑面积：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
												{$fangyuan["mianji"]}
											</div>



										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													来源：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["laiyuan"]'>
												<foreach name="laiyuan" item="v">
													<if condition='$fangyuan["laiyuan"] eq $v["lxid"]'>
														{$v.lxming}
													</if>
												</foreach>
											<else/>不详</if>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													房源标题：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
												{$fangyuan["fybiaoti"]}
											</div>

										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">

											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													建筑年代：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["niandai"]'>
												{$fangyuan["niandai"]}年
											<else/>不详</if>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													产权性质：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["cqxingzhi"]'>
												<foreach name="cqxingzhi" item="v">
													<if condition='$fangyuan["cqxingzhi"] eq $v["lxid"]'>
														{$v.lxming}
													</if>
												</foreach>
											<else/>不详</if>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													产权年限：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
											<if condition='$fangyuan["cqnianxian"]'>
												{$fangyuan["cqnianxian"]}年
												<else/>不详</if>
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-2 col-sm-2 col-md-2">
												<span style="float: right;color: #757575">
													产证日期：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-4 col-sm-4 col-md-4">
												<if condition='$fangyuan["czriqi"]'>
													{$fangyuan["czriqi"]|date='Y-m-d',###}
												<else/>不详</if>
											</div>

										</div>




									</th>
								</tr>
								<tr>
									<th>
										<div style="line-height:10PX;">&nbsp;</div>
										<div class="formControls col-xs-12 col-sm-12 col-md-12">
											<div style="margin:0;padding:0;" class="formControls col-xs-1 col-sm-1 col-md-1">
												<span style="float: right;color: #757575">
													备注：
												</span>
											</div>
											<div style="margin:0;padding:0;" class="formControls col-xs-11 col-sm-11 col-md-11">
												{$fangyuan['beizhu']}
											</div>
										</div>
										<div style="line-height:10PX;">&nbsp;</div>
									</th>
								</tr>
							</table>
						</div>

					</div>
				</div>
				<div>&nbsp;</div>
			</div>
			<div class="tabCon">
				<div>&nbsp;</div>
				<div class="formControls col-xs-1 col-sm-1 col-md-1"></div>
				<div class="formControls col-xs-10 col-sm-10 col-md-10">
					<div align="center">
						<if condition='($yesshangtu eq 1) or ($_SESSION["superadmin"] eq 1) or (session("uid") eq 2)'>
							<a class="btn btn-primary radius  size-XXL" href="javascript:void;" onclick="tupian('上传房源图片','{:U('fangyuanimg/add',array('fybh'=>$fangyuan['bianhao']))}','800')">
								上传房源图片
							</a>
						</if>
						<a class="btn btn-default radius  size-XXL" href="javascript:;" id="downloadallpic">全部图片下载</a>
					</div>
					<div>&nbsp;</div>
					<div id="fy_img_div" style="padding: 10px;margin: 10px;"></div>
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="tabCon">
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
				<style type="text/css">
					body, html,#allmap {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
				</style>
				<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bMcGRysohMkELc3LhlrUnDKlWGbv7Xno"></script>
				<div>&nbsp;</div>
				<div class="formControls col-xs-1 col-sm-1 col-md-1"></div>
				<div class="formControls col-xs-10 col-sm-10 col-md-10">
					<div id="allmap" style="height: 400px;"></div>
					<div style="height: 30px;">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
                function genjingengduo(){
		$.Huitab("#tab_demo .tabBar span","#tab_demo .tabCon","current","click","5");
	}
		jQuery.Huitab =function(tabBar,tabCon,class_name,tabEvent,i){
			var $tab_menu=$(tabBar);
			// 初始化操作
			$tab_menu.removeClass(class_name);
			$(tabBar).eq(i).addClass(class_name);
			$(tabCon).hide();
			$(tabCon).eq(i).show();
			$tab_menu.bind(tabEvent,function(){
				$tab_menu.removeClass(class_name);
				$(this).addClass(class_name);
				var index=$tab_menu.index(this);
				$(tabCon).hide();
				$(tabCon).eq(index).show();

				// 百度地图API功能
				var map = new BMap.Map("allmap");
				var point = new BMap.Point(<if condition='$xiaoqu["dituzb"]'>{$xiaoqu.dituzb}<else/>117.005758,32.631959</if>);
				map.centerAndZoom(<if condition='$xiaoqu["dituzb"]'>point,15<else/>point,12</if>);
				<if condition='$xiaoqu["dituzb"]'>
					var marker = new BMap.Marker(point);  // 创建标注
					map.addOverlay(marker);               // 将标注添加到地图中
					marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
					map.addControl(new BMap.MapTypeControl());
				</if>
				map.addControl(new BMap.MapTypeControl());//添加地图类型控件
				map.enableScrollWheelZoom(true);//开启鼠标滚轮缩放
				map.enableInertialDragging();
				map.enableContinuousZoom();
				// 覆盖区域图层测试
				map.addTileLayer(new BMap.PanoramaCoverageLayer());
				var stCtrl = new BMap.PanoramaControl(); //构造全景控件
				stCtrl.setOffset(new BMap.Size(20, 36));
				map.addControl(stCtrl);//添加全景控件
				// 添加带有定位的导航控件
				var navigationControl = new BMap.NavigationControl({
					// 靠左上角位置
					anchor: BMAP_ANCHOR_TOP_LEFT,
					// LARGE类型
					type: BMAP_NAVIGATION_CONTROL_LARGE,
				});
				map.addControl(navigationControl);
			})
		}
		$(function(){
			$.Huitab("#tab_demo .tabBar span","#tab_demo .tabCon","current","click","0")
		});
	</script>
	<script type="text/javascript">
		function motai(title,url,w,h){
			layer_show(title,url,w,h);
		}
		function layer_show(title,url,w,h){
			if (title == null || title == '') {
				title=false;
			};
			if (url == null || url == '') {
				url="404.html";
			};
			if (w == null || w == '') {
				w=800;
			};
			if (h == null || h == '') {
				h=($(window).height() - 50);
			};
			layer.open({
				type: 2,
				area: [w+'px', h +'px'],
				fix: false, //不固定
				maxmin: false,
    			skin: 'layui-layer-rim',
				shade:0.4,
				title: title,
				content: url,
				end: function () {
					location.reload();
				}
			});
		}
		function tupian(title,url,w,h){
				layer_show1(title,url,w,h);
			}
		function layer_show1(title,url,w,h){
			if (title == null || title == '') {
				title=false;
			};
			if (url == null || url == '') {
				url="404.html";
			};
			if (w == null || w == '') {
				w=800;
			};
			if (h == null || h == '') {
				h=($(window).height() - 50);
			};
			layer.open({
				type: 2,
				area: [w+'px', h +'px'],
				fix: false, //不固定
				maxmin: false,
    			skin: 'layui-layer-rim',
				shade:0.4,
				title: title,
				content: url,
			});
		}
	</script>
	<script type="text/javascript">
		function delEsfy(obj,id){
			layer.confirm('您确定要删除此房源吗？',function(index){
				$.ajax({
					type: 'POST',
					url: '{:U('Fyneirong/delEsfy')}',
					data:{"id":id},
					dataType: 'json',
					success: function(data){
						var info=data.info;
						layer.msg(info);
					},
					error:function(data) {
						console.log(data.msg);
					},
				});
			})
		;}
		function gongpan(obj,id){
			layer.confirm('您确定要设置此房源为公盘吗？',function(index){
				$.ajax({
					type: 'POST',
					url: '{:U('Fyneirong/gongpanHandle')}',
					data:{"id":id},
					dataType: 'json',
					success: function(data){
						var info=data.info;
						$(obj).parents(".div2").remove();
						layer.msg(info);
					},
					error:function(data) {
						console.log(data.msg);
					},
				});
			});
		}
		function vrurl1(obj,id){
			layer.prompt({title: '请输入全景地址',value:'{$fangyuan["vr_url"]}',formType: 3}, function(text, index){
				$.ajax({
					type: 'POST',
					url: '{:U('Fyneirong/quanjingHandle')}',
					data:"id=" + id + "&text=" + text,
					dataType: 'json',
					success: function(data){
						var txt1="<a class=\"btn btn-primary radius\" href=\"javascript:;\" id=\"chakan\" onclick=\"motai(\'全景看房\',\'"+text+"\','950\')\">查看</a>";
						$("#chakan").remove();
						$(obj).parents("#quanj").append(txt1);
						layer.msg('修改成功!',{icon:1,time:1000});
					},
					error:function(data) {
						console.log(data.msg);
					},
				});
			});
		}
		function diaoqu(obj,id){
			layer.confirm('你今天还有{$diaoqucs}次调取机会，确定要调取吗？',function(index){
				$.ajax({
					type: 'POST',
					url: '{:U('Fyneirong/diaoqu')}',
					data:'id='+id,
					dataType: 'json',
					success: function(data){
						$(obj).remove();
						var txt2 = "<p>业主："+data['diaoqu1']['yezhu']+"</p><p><i class=\"Hui-iconfont\">&#xe6a3;</i>"+data['diaoqu1']['yezhudianhua']+"</p><p>座栋："+data['diaoqu1']['zuodong']+"</p><p>单元："+data['diaoqu1']['danyuan']+"</p><p>房号："+data['diaoqu1']['fanghao']+"</p>";
						$("#diaoqu").append(txt2);
						var txt3 = "<a class=\"btn btn-primary radius a\" href=\"javascript:;\" onclick=\"motai('门牌号修改','{:U('Fyneirong/xgzuodong',array('id'=>$fangyuan['id']))}','500')\">修改资料</a>"
						$("#xiugaianniu").append(txt3);
						layer.msg('已调取!',{icon:1,time:1000});

					},
					error:function(data) {
						console.log(data.msg);
					},
				});
			});
		}
	</script>
	<!--//图片上传-->
	<script type="text/javascript">
		var isFrist = false;
		$("#fy_img").click(function(){
			//异步显示房源图片列表页
			if(!isFrist){
				var fy_bh={$fangyuan["bianhao"]};
				$.ajax({
					url:'{:U('Fangyuan/get_fy_img')}',
					Type:"POST",
					data:"fy_bh=" + fy_bh,
					dataType:"json",
					success:function(data){
						var pics = data.pics;
						for(var i in pics){
							var img='<div class="row"><div class="col-sm-3 col-md-3"><div class="thumbnail mb-10"><div class="picbox"><a href="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/'+pics[i]['image']+'" data-lightbox="gallery" data-title=""><img class="img-responsive1" width="220px" height="166px" src="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/t_'+pics[i]['image']+'" alt="..." /></a></div><div class="caption mt-10"><p><a style="text-decoration:none" class=" btn btn-danger pd-5" onClick="picture_del(this,'+pics[i]['id']+')" href="javascript:;" >删除</a> <a download="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/'+pics[i]['image']+'" href="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/'+pics[i]['image']+'" class="btn btn-default" role="button">下载</a></p><p><h5 class="text-primary">上传人：'+pics[i]['ygmingcheng']+'<small class="text-muted pull-right"><span class="pd-10">'+pics[i]['create_time']+'</span></small></h5></p></div></div></div></div>';
							$("#fy_img_div").append(img);
						}
					}
				});
				isFrist = true;
			}
		});
		/*图片-删除*/
		function picture_del(obj,id){
			layer.confirm('确认要删除吗？',function(index){
				$.ajax({
					type: 'POST',
					url: '{:U('Fangyuan/fy_pic_del')}',
					data:"fy_pic_id=" + id,
					dataType: 'json',
					success: function(data){
						if(data.info=="你没有权限"){
							layer.msg('你没有权限!',{icon:5,time:1000});
						}else{
							$(obj).parents(".row").remove();
							layer.msg('已删除!',{icon:1,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
					},
				});
			});
		}
		function reloadparentimg(){
			var fy_bh={$fangyuan["bianhao"]};
			$.ajax({
				url:'{:U('Fangyuan/get_fy_img')}',
				Type:"POST",
				data:"fy_bh=" + fy_bh,
				dataType:"json",
				success:function(data){
					var pics = data.pics;
					$("#fy_img_div").empty();
					for(var i in pics){
						var img='<div class="row"><div class="col-sm-3 col-md-3"><div class="thumbnail mb-10"><div class="picbox"><a href="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/'+pics[i]['image']+'" data-lightbox="gallery" data-title=""><img class="img-responsive1" width="220px" height="166px"  src="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/t_'+pics[i]['image']+'" alt="..." /></a></div><div class="caption mt-10"><p><a style="text-decoration:none" class=" btn btn-danger pd-5" onClick="picture_del(this,'+pics[i]['id']+')" href="javascript:;" >删除</a> <a download="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/'+pics[i]['image']+'" href="/Upload/'+pics[i]['gongsiid']+'/'+pics[i]['fybh']+'/'+pics[i]['image']+'" class="btn btn-default" role="button">下载</a></p><p><h5 class="text-primary">上传人：'+pics[i]['ygmingcheng']+'<small class="text-muted pull-right"><span class="pd-10">'+pics[i]['create_time']+'</span></small></h5></p></div></div></div></div>';
						$("#fy_img_div").append(img);
					}
				}
			});
		}
	</script>
	<script type="text/javascript">
		$(function(){
			$("#downloadallpic").click(function() {
				var downloadUrl = new Array();
				$('.downpic').each(function(){
					downloadUrl.push($(this).attr('href'));
				});
				$(downloadUrl).multiDownload({"source":"local"});
			});
		});
		function DownLoadReportIMG(obj){
			var downloadUrl = new Array();
			downloadUrl.push($(obj).attr('d'));
			$(downloadUrl).multiDownload({"source":"local"});
		}
	</script>
	<script type="text/javascript" src="__PUBLIC__/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
</block>